@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color1: #24262b;
  --color2: #acacac;
  --color3: #EDF2F4;
  --color4: #26532b;
  --color5: #399e5a;
  --color6: #383b43;
  --shadow: #56565682;
  --white: #ffffff;
  --black: #000000;
}

html{
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: var(--color3);
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*style for header*/
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--color1);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
header .logo {
  color: var(--color3);
  font-size: 25px;
  text-decoration: none;
}
header .logo:hover {
  color: var(--color2);

}
header nav ul {
  display: flex;
}
header nav ul li a {
  display: inline-block;
  color: var(--color3);
  padding: 5px 0;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
  text-decoration: none;
}
header nav ul li a:hover {
  border-bottom-color: var(--color5);
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: var(--color3);
}
/*
@media only screen and (max-width: 900px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    right: -100%;
    top: 70px;
    width: 100%;
    background: var(--color1);
    padding: 30px;
    transition: 0.3s;
  }
  header #nav_check:checked ~ nav {
    right: 0;
  }
  header nav ul {
    display: block;
  }
  header nav ul li a {
    margin: 5px 0;
    color: var(--color3);
  }
}*/


@media screen and (max-width: 768px) {
  /* Tablet styles */
  nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--color1);
  }

  nav.active {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #nav_check:checked + nav {
    display: flex;
  }

  label.hamburger {
    display: block;
    cursor: pointer;
  }

  label.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}

@media screen and (max-width: 480px) {
  /* Mobile styles */
  header {
    padding: 10px;
  }

  .logo {
    font-size: 1.2rem;
  }
}



/*end style for header*/


/*style for main section*/

.room-container{
  height: 500px;
}
.room-container h1 {
  text-align: center;
  margin-top: 8%;
  text-shadow: 2px 2px 4px var(--shadow);
}
.room-container p {
  text-align: center;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5% 10% 5% 10%;
}
.container {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: var(--color1);
  border-bottom: 10px solid var(--color5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container i {
  color: var(--white);
  font-size: 1.5em;
  text-align: center;
}
span.counter {
  color: var(--white);
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 2em;
}
span.text {
  color: var(--white);
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;

}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .container {
    height: 25vmin;
    width: 25vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: auto;
    flex-wrap: wrap;
  }
  .container {
    width: 20vmin;
    height: 20vmin;
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: auto;
    flex-wrap: wrap;
  }
  .container {
    width: 10vmin;
    height: 10vmin;
    font-size: 5px;
  }
}

.room-type h2 {
  margin-top: 10%;
  text-align: center;
  text-shadow: 2px 2px 4px var(--shadow);
}

.room-type-container{
  min-height: 600px;
  height: auto;
  background-color: var(--color3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 2% 10% 10% 10%;
}



.slider-container {
  margin: 2% 10% 5% 10%;
}
.card-content {
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  scroll-behavior:smooth;
}
.card {
  width: 300px;
  min-width: 300px;
  height:auto;
  background:#fff;
  border-radius:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor:pointer;
  transition: all .25s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
  transform:translate(0, -10px);
  box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}
.card .card-text {
  padding: 20px;
}
.card .card-text h2{
  margin-bottom: 20px;
}
p {
  font-size: .8rem;
  opacity: .6;
  margin-top: 20px;
}
.card .card-img {
  transform: translate(1px,30px);
  margin: 0 30px;
  display:flex;
  align-items: center;
  justify-content:center;
  transition: all .35s ease-out;
}
.card img {
  height:180px;
  border-radius: 5px;
}
.card:hover .card-img {
  transform:translate(45px,-15px);
}

/* Media queries for responsive design */
@media screen and (max-width: 900px) {
  /* Tablet styles */
  .card-content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  /* Mobile styles */
  .card .card-text {
    padding: 15px;
  }

  .card img {
    height: 150px;
  }

  .card .card-img {
    transform: translate(1px, 20px);
    margin: 0 20px;
  }

  .card:hover .card-img {
    transform: translate(30px, -10px);
  }
}








.container-room-form {
  width: 100%;
  min-height: 600px;
  height: auto;
  width: auto;
  background-color: var(--color3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 2% 15% 10% 15%;
}

/*
.container__list {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color2);
  position: relative;
  top: 50px;
}*/

.container__list {
  display: flex;
  padding: 0;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  top: 50px;
  background-color:#c6cbcc;
}

/*
.container__item {
  width: auto;
  color: var(--black);
  min-height: 30px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.2s;
}*/


.container__item {
  text-align: center;
  margin: 0;
  padding: 10px;
  flex: auto;
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  position: relative;
  cursor: pointer;
  list-style: none;
  user-select: none;
  transition: 0.4s;
}



.container__item_active {
  background: var(--color5);
  color: var(--white);
  border-radius: 10px;
}

.container__link {
  margin: 10px;
  padding: 5px;
}

.container__inner {
  width: 90%;
  margin: 120px auto 60px auto ;
  position: relative;
  min-height: 400px;
}

.content__subtitle {
  animation-name: smoothTop;
  animation-duration: 0.3s;
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  color: #404648;
  margin-bottom: 30px;
}

.content__description {
  animation-name: smoothBottom;
  animation-duration: 0.7s;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #404648;
}

.container__inner_hidden {
  display: none;
}

.account-info-room {
  max-width: 600px;
  margin: 0 auto;
}

.account-info-left,
.account-info-right {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.account-info-left input,
.account-info-right input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  /* Tablet styles */
  .account-info-left,
  .account-info-right {
    flex-direction: row;
  }

  .account-info-left input,
  .account-info-right input {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  /* Mobile styles */
  .account-info-left,
  .account-info-right {
    flex-direction: column;
  }

  .account-info-left input,
  .account-info-right input {
    margin-right: 0;
  }
}


.next-btn, .submit-btn, .prev-btn{
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.next-btn, .submit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color5);
  color: var(--white);
}

.prev-btn {
  background-color: var(--color2);
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color1);
}





@keyframes smoothTop {
  0% {
    opacity: 0.2;
    transform: translateY(7%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes smoothBottom {
  0% {
    opacity: 0.2;
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}






/*end style for main section*/




/*style for footer*/
.container-footer {
  max-width: 1100px;
  margin: auto;
}
.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.2fr;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--color1);
  padding: 50px 0;
}
.footer-col {
  padding: 0 25px;
}
.footer-col h4 {
  font-size: 18px;
  color: var(--white);
  margin-bottom: 25px;
  font-weight: 500;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  color: var(--color2);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--white);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: var(--color1);
  background-color: var(--white);
}
.email {
  color: var(--white);
  height: 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.267);
  border: none;
}
.footer-col ::placeholder {
  color: var(--white);
  text-align: center;
}

.email-footer-container{
  display: flex;
  align-items: center; 
}
.email-footer-container #email-input{
  padding: 10px;
  flex: 1; 
}
.email-footer-container #email-submit {
  background: none;
  color: var(--white); 
  border: none; 
  padding: 20px 15px 20px 10px; 
  cursor: pointer; 
}

@media (max-width: 767px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-col {
    margin-bottom: 40px;
  }
}
@media (max-width: 574px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-col {
    margin-bottom: 40px;
  }
}
/*end style for footer*/


/*style for go top button*/
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background-color: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #001a2e;
}
/*end style for go top bottom*/





