@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color1: #24262b;
  --color2: #acacac;
  --color3: #EDF2F4;
  --color4: #26532b;
  --color5: #399e5a;
  --color6: #383b43;
  --shadow: #56565682;
  --white: #ffffff;
  --black: #000000;
}


html{
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: var(--color3);
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*style for header*/
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--color1);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
header .logo {
  color: var(--color3);
  font-size: 25px;
  text-decoration: none;
}
header .logo:hover {
  color: var(--color2);

}
header nav ul {
  display: flex;
}
header nav ul li a {
  display: inline-block;
  color: var(--color3);
  padding: 5px 0;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
  text-decoration: none;
}
header nav ul li a:hover {
  border-bottom-color: var(--color5);
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: var(--color3);
}

@media only screen and (max-width: 900px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    right: -100%;
    top: 70px;
    width: 100%;
    background: var(--color1);
    padding: 30px;
    transition: 0.3s;
  }
  header #nav_check:checked ~ nav {
    right: 0;
  }
  header nav ul {
    display: block;
  }
  header nav ul li a {
    margin: 5px 0;
    color: var(--color3);
  }
}


/*style for main*/
.main-section h1 {
  text-align: center;
  margin-top: 8%;
  text-shadow: 2px 2px 4px var(--shadow);
}
.main-section .question {
  text-align: center;
}
.main-section .form-container {
  margin: 5% 10% 10% 10%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--white);
  border-radius: 10px;
}
.left-container {
  color: var(--white);
  padding: 40px 60px 40px 30px;
  background-color: var(--color1);
  border-radius: 10px;
}
.left-container .description {
  color: var(--color2);
  margin-top: 5px;
  margin-bottom: 60px;
}
.left-container .detail p {
  font-size: 14px;
  margin-top: 30px;
  color: var(--white);
}
.left-container .detail i {
  margin-top: 30px;
  color: var(--white);
}
.left-container .detail{
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.left-container .social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: var(--color5);
  margin-top: 60px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.5s ease;
}
.left-container .social-links a:hover {
  color: var(--color1);
  background-color: var(--white);
}
.right-container {
  padding: 40px;
  background-color: var(--white);
  border-radius: 10px;
}
.right-container h3 {
  margin: 5px 5px 30px 5px;
}
.input-group{
  margin-right: 25px;
}
input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
input:focus::placeholder {
  color: transparent;
}
input:hover{
  border-color: var(--color1);
}
input:focus {
  outline: none !important;
  border-color: var(--color1);
}
.message-container {
  margin-left: 5px;
  margin-right: 30px;
}
.message-container input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.message-container input:hover{
  border-color: #24262b;
}
.message-container input:focus {
  outline: none !important;
  border-color: #464a53;
}
.send-message-btn {
  background-color: var(--color5);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  float: right;
  cursor: pointer;
}
.send-message-btn:hover {
 background-color:var(--color4);
}
.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}
.input-container ::placeholder {
  text-align: left;
}
.main-section .map {
  margin: 10%;
  height: 500px;
}
.main-section .map h2{
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #56565682;
}
.map .bilal-map {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-section .faq-container {
  margin: 10%;
  height: 500px;
}
.main-section .faq-container h2{
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px var(--shadow);
}

@media (max-width: 820px) {
  .input-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
  }
  .main-section .map {
    margin: 10% 10% 25% 10%;
    height: 350px;
  }
}

@media (max-width: 654px) {
  .main-section .form-container {
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-section .map {
    margin: 10% 10% 25% 10%;
    height: 300px;
  }
}


.main-section .accordion h2{
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #56565682;
}
.accordion {
  margin: 15% 10% 10% 10%;
}
.accordion-item {
  background-color: var(--white);
  color: var(--color1);
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, transparent, #399e5a, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}



/*style for footer*/
.container-footer {
  max-width: 1100px;
  margin: auto;
}
.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.2fr;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--color1);
  padding: 50px 0;
}
.footer-col {
  padding: 0 25px;
}
.footer-col h4 {
  font-size: 18px;
  color: var(--white);
  margin-bottom: 25px;
  font-weight: 500;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  color: var(--color2);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--white);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: var(--color1);
  background-color: var(--white);
}
.email {
  color: var(--white);
  height: 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.267);
  border: none;
}
.footer-col ::placeholder {
  color: var(--white);
  text-align: center;
}

.email-footer-container{
  display: flex;
  align-items: center; 
}
.email-footer-container #email-input{
  padding: 10px;
  flex: 1; 
}
.email-footer-container #email-submit {
  background: none;
  color: var(--white); 
  border: none; 
  padding: 10px 15px 20px 10px; 
  cursor: pointer; 
}

@media (max-width: 767px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-col {
    margin-bottom: 40px;
  }
}
@media (max-width: 574px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-col {
    margin-bottom: 40px;
  }
}


/*style for go top button*/
#progress {
  position: fixed;
  bottom: 80px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background-color: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #001a2e;
}


/*Style for Chat Box*/
.chatbot-toggler {
  position: fixed;
  bottom: 20px;
  right: 10px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color6);
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: var(--white);
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 16px;
  position: relative;
  text-align: center;
  color: var(--white);
  background: var(--color1);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 300px;
  padding: 30px 20px 20px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 10px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #24262b;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #24262b;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  bottom: 0;
  width: 100%;
  background: var(--white);
  padding: 3px 20px;
  border-top: 1px solid var(--color3);
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: var(--color5);
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}




