@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html{
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #e7e7e7;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*style for header*/
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #24262bf4;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
header .logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
header .logo:hover {
  color: #acacac;

}
header nav ul {
  display: flex;
}
header nav ul li a {
  display: inline-block;
  color: #ffffff;
  padding: 5px 0;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
  text-decoration: none;
}
header nav ul li a:hover {
  border-bottom-color: white;
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #ffffff;
}

@media only screen and (max-width: 900px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    right: -100%;
    top: 70px;
    width: 100%;
    background: #24262bfa;
    padding: 30px;
    transition: 0.3s;
  }
  header #nav_check:checked ~ nav {
    right: 0;
  }
  header nav ul {
    display: block;
  }
  header nav ul li a {
    margin: 5px 0;
    color: #ffffff;
  }
}


/*style for main*/
.main-section h1 {
  text-align: center;
  margin-top: 8%;
  text-shadow: 2px 2px 4px #56565682;
}
.main-section .question {
  text-align: center;
}
.main-section .form-container {
  margin: 5% 10% 10% 10%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border-radius: 10px;
}
.left-container {
  color: white;
  padding: 40px 60px 40px 30px;
  background-color: #24262b;
  border-radius: 10px;
}
.left-container .description {
  margin-top: 5px;
  margin-bottom: 60px;
}
.left-container .detail p {
  font-size: 14px;
  margin-top: 30px;
  color: #ffffffce;
}
.left-container .detail i {
  margin-top: 30px;
}
.left-container .detail{
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.left-container .social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 60px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.left-container .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.right-container {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
}
.right-container h3 {
  margin: 5px 5px 30px 5px;
}
.input-group{
  margin-right: 25px;
}
input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
input:focus::placeholder {
  color: transparent;
}
input:hover{
  border-color: #24262b;
}
input:focus {
  outline: none !important;
  border-color: #24262b;
}
.message-container {
  margin-left: 5px;
  margin-right: 30px;
}
.message-container input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.message-container input:hover{
  border-color: #24262b;
}
.message-container input:focus {
  outline: none !important;
  border-color: #464a53;
}
.send-message-btn {
  background-color: #24262b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  float: right;
  cursor: pointer;
}
.send-message-btn:hover {
 background-color:#464a53;
}
.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}
.input-container ::placeholder {
  text-align: left;
}
.main-section .map {
  margin: 10%;
  height: 500px;
}
.main-section .map h2{
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #56565682;
}
.map .bilal-map {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-section .faq-container {
  margin: 10%;
  height: 500px;
}
.main-section .faq-container h2{
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #56565682;
}

@media (max-width: 820px) {
  .input-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
  }
  .main-section .map {
    margin: 10% 10% 25% 10%;
    height: 350px;
  }
}
@media (max-width: 654px) {
  .main-section .form-container {
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-section .map {
    margin: 10% 10% 25% 10%;
    height: 300px;
  }
}


/*style for footer*/
.container-footer {
  max-width: 1100px;
  margin: auto;
}
.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.2fr;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262bf4;
  padding: 50px 0;
}
.footer-col {
  padding: 0 25px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.email {
  color: white;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.267);
  border: none;
}
.footer-col ::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}
.footer-col .email{
  padding: 10px;
}

@media (max-width: 767px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-col {
    margin-bottom: 40px;
  }
}
@media (max-width: 574px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-col {
    margin-bottom: 40px;
  }
}


/*style for go top button*/
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #001a2e;
}






